.app {
  background-color: #180161;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  height: 100vh;
}

.padder {
  background-color: inherit;
}

#game-canvas {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

#letter-grid {
  background-color: #4F1787;
  border: 2px solid #EB3678;
  border-radius: 25px;
  max-width: 470px;
  min-width: 350px;
  width: 70%;
}

.word-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.char-wrapper {
  height: 70px;
  width: 100%;
}

.char-wrapper > input {
  background-color: #505050;
  border: 0;
  border-radius: 7px;
  color: #FB773C;
  font-size: 2rem;
  font-weight: 900;
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.char-wrapper > input.yellow {
  background-color: #ffe659;
  color: #FFFFFF;
}

.char-wrapper > input.green {
  background-color: #8aff8a;
  color: #FFFFFF;
}

.char-wrapper > input:disabled {
  pointer-events: none;
  opacity: 0.7;
}

button[type="submit"] {
  background-color: #FB773C;
  border: none;
  border-radius: 7px;
  color: #4F1787;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}

button[type="submit"]:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 850px) {
  .app {
    grid-template-columns: 100%;
  }

  .padder {
    display: none;
  }

  #letter-grid {
    width: 90%;
  }
}
